/* globals.css */

/* Imports */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Base Styles */
body {
  @apply text-primary font-primary bg-white leading-relaxed tracking-normal text-base transition-colors duration-300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary mb-4;
}

/* Typography */
.title {
  @apply text-xl sm:text-2xl md:text-5xl;
}

.subtitle {
  @apply text-sm sm:text-base md:text-3xl my-2 sm:my-4;
}

/* .title {
  @apply text-4xl font-bold mb-4;
}
.subtitle {
  @apply text-2xl font-semibold mb-3;
} */
.body-text {
  @apply text-base mb-2;
}
.small-text {
  @apply text-sm mb-1;
}
.caption {
  @apply text-xs;
}

/* Dark Mode */
.dark {
  @apply bg-neutral-gray text-democracy-beige;
}
.dark .card {
  @apply bg-neutral-gray text-democracy-beige shadow-md transition-colors duration-300 ease-in-out;
}
.dark .subtitle,
.dark .title {
  @apply text-white;
}
.dark .btn-primary {
  @apply bg-blue-600 text-white;
}
.dark .btn-primary:hover {
  @apply bg-blue-700;
}

/* Transitions & Effects */
.transition {
  @apply transition-all duration-300 ease-in-out;
}
.hover\:grow:hover {
  transform: scale(1.05);
}
.hover\:shrink:hover {
  transform: scale(0.95);
}
.focus-ring:focus {
  @apply ring-4 ring-future-neon;
}

/* Buttons */
.btn-primary {
  @apply shadow-md hover:shadow-lg bg-tech-blue text-white py-2 px-4 rounded transition-transform transform-gpu hover:scale-105 active:scale-95;
}
.btn-primary:hover {
  @apply bg-blue-600;
}
.btn-primary:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}
.btn-primary:focus {
  @apply outline-none;
}

/* Form Elements */
.input-field {
  @apply border-b border-tech-blue bg-transparent p-2 transition duration-300 ease-in-out dark:bg-neutral-gray;
}
.input-field:focus {
  @apply border-future-neon;
}
.mandatory-field::before {
  content: "*";
  @apply text-tech-blue;
}

/* Containers & Layout */
.container {
  @apply max-w-7xl mx-auto px-6;
}
.section-padding {
  @apply p-4 sm:p-6;
}
.card-spacing {
  @apply m-6;
}
.btn-spacing {
  @apply my-2 mx-1;
}

/* Grid & Flex Utilities */
.flex-center {
  @apply flex justify-center items-center;
}
.grid-2cols {
  @apply grid grid-cols-2 gap-4;
}
.grid-3cols {
  @apply grid grid-cols-3 gap-4;
}
.flex-col-center {
  @apply flex flex-col items-center;
}

/* Cards & Popups */
.card {
  @apply bg-white shadow-lg transition-shadow duration-300 hover:shadow-xl transform hover:-translate-y-1;
}

/* Icons & Badges */
.icon {
  @apply w-6 h-6 fill-current transition-all duration-300;
}
.icon:hover {
  @apply w-7 h-7;
}
.badge-tech {
  @apply bg-tech-blue text-white py-1 px-3 rounded;
}
.badge-growth {
  @apply bg-growth-green text-white py-1 px-3 rounded;
}
.badge-community {
  @apply bg-community-coral text-white py-1 px-3 rounded;
}
.badge-tech:hover,
.badge-growth:hover,
.badge-community:hover {
  @apply shadow-md;
}

/* Responsive Styling */
@media screen and (max-width: 640px) {
  .mobile-text-lg {
    @apply text-lg;
  }
  .container {
    @apply px-4;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .tablet-text-xl {
    @apply text-xl;
  }
}
@media (min-width: 1024px) {
  .section-padding {
    @apply p-20;
  }
}

/* Mobile Navigation */
.hamburger {
  display: none;
}
.nav-mobile-active {
  transform: translateX(0);
}
.nav-mobile {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #101010;
  z-index: 20;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}

/* Dropdown Enhancements */
.group:hover .group-hover\:block {
  display: block;
}
.group:hover .group-hover\:rounded-md {
  border-radius: 0.375rem;
}

/* Dark Mode Toggle */
.toggle__dot {
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
body.dark {
  transition: background-color 0.3s ease;
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

/* Additional or Modified Styles */

/* Inverted Primary Button */
.btn-primary-inverted {
  @apply border-tech-blue hover:border-future-neon bg-transparent text-tech-blue dark:text-democracy-beige hover:text-future-neon py-2 px-4 rounded transition-transform transform-gpu hover:scale-105 active:scale-95;
}
.btn-primary-inverted:hover {
  @apply text-future-neon;
}
.btn-primary-inverted:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}
.btn-primary-inverted:focus {
  @apply outline-none;
}

/* Light Mode and Dark Mode Body Text */
.dark .body-text {
  @apply text-democracy-beige;
}

/* Placeholder Color in Dark Mode for Input Fields */
.dark .input-field::placeholder {
  @apply text-democracy-beige opacity-60;
}

/* Enhanced Modal */
.modal-content {
  @apply bg-white dark:bg-neutral-gray p-5 rounded-lg shadow-2xl w-full max-w-lg border-2 border-transparent dark:border-democracy-beige transition-transform transform-gpu scale-95 hover:scale-100;
}

/* Enhanced Modal */
.modal-content {
  @apply bg-white dark:bg-neutral-gray p-5 rounded-lg shadow-2xl w-full max-w-lg border-2 border-transparent dark:border-democracy-beige transition-transform transform-gpu scale-95 hover:scale-100;
}

/* Enhanced Input Field */
.enhanced-input {
  @apply border rounded-lg shadow-inner p-2 w-full bg-white dark:bg-neutral-gray transition-colors focus:border-tech-blue dark:focus:border-democracy-beige placeholder-tech-blue dark:placeholder-democracy-beige;
}

/* Modal Backdrop */
.backdrop-blur-md {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
}

/* Input field focus states */
.enhanced-input:focus {
  @apply ring-2 ring-tech-blue dark:ring-democracy-beige;
}

/* A better transition effect for modal */
.modal-content {
  @apply transform transition-transform ease-out duration-300 scale-95;
}
.modal-content:hover,
.modal-content:focus {
  @apply scale-100;
}

/* Placeholder color adjustment */
.dark .enhanced-input::placeholder {
  @apply text-democracy-beige opacity-70;
}

.bottom-submit {
  @apply section-padding flex flex-col items-center gap-5 dark:bg-neutral-gray bg-democracy-beige;
}

.bottom-submit-text {
  @apply text-center text-tech-blue mb-4 font-primary;
}

.floating-submit {
  @apply w-11/12 sm:w-auto p-2 sm:p-3 fixed bottom-2 left-1/2 sm:left-1/2 transform -translate-x-1/2 sm:-translate-x-1/2 md:left-auto md:transform-none md:right-5 z-50 flex flex-col items-center rounded-md shadow-lg dark:bg-neutral-gray bg-democracy-beige border-dotted border-2 border-tech-blue;
}

.floating-submit-text {
  @apply text-tech-blue mb-1 sm:mb-2 max-w-xs w-full text-center;
}

.text-border {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
